body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    color: #444444;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;    
    font-weight: 600;
    color: #222222;
}

h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}

a{
    text-decoration: none;
    color: #3B82F6;
}

a:hover, a:focus{
    color:#1E3A8A ;
}

#banner {
    width: 100%;
    object-fit: cover;
}

#about {
    text-align: center;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

#description {
    width: 50%;
    padding: 8px;
    text-align: justify;

}

#team {
    width: 50%;

}

#team-img {
    border-radius: 5px;
    width: 100%;
}

h2 {
    text-align: center;    
}

#application{
    padding: 0 8px;
    max-width: 800px;
    margin: 0 auto;
}

.form-group{
    margin: 10px 0;

}

#application-form label{
    font-weight: 600;
}

#application-form input, select, textarea{
    font-size: 1.25rem;
    padding: 8px;
    margin-top: 4px;
    border: 2px solid gray;
    border-radius: 4px ;
}

.form-group textarea{
    width: 80%;
    font-family: 'Roboto', sans-serif;
    
}

.form-group input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
}

.form-group input[type="submit"]{
    background-color: rgb(83, 83, 241);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.form-group input[type="submit"]:hover{
    background-color: rgb(9, 9, 214);
}

#jobs {
    padding: 0 8px;
    max-width: 800px;
    margin: 0 auto;
    color: #222222;
}

#jobs-table{
    width: 100%;
    border:1px solid gray;
    border-collapse: collapse;

}

#jobs-table tr:nth-child(odd){
    background-color:#CFFAFE;
}

.jobs-header-row th{
    border: 1px solid gray;
    padding: 8px;
    text-align: center;
    background-color: #A5F3FC;
}

.jobs-data-row td{
    border: 1px solid gray;
    padding: 8px;
}

#navbar {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 0px;
    height: 35px;
}

#logo {
    height: 25px;
}

#footer{
    background-color: #FAFAFA;
    margin-top: 32px;
    padding: 8px;
    text-align: center;
}

#footer-links li{
    display: inline;
    margin:0 16px;
}

.copyright{
    color: #6B7280 ;
}